
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #2b2b2b;
    color: #fff;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }

  .clock {
    font-size: 8rem;
    font-style: monospace;
  }

  .date {
    font-size: 1rem;
    color: #ccc;
  }

 .fullscreen-icons {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  color: #ffffff;
}

.fullscreen-icons button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin: 5px;
  color: #ffffff;
}

button {
  padding: 12px 20px;
  background-color: #2b2b2b;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

button i {
  background-color: #2b2b2b;
  position: fixed;

  top: 43px;
  right: 102px;
  z-index: 1000;
  color: #ffffff;
}

@media (max-width: 1226px) {

  
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #2b2b2b;
  color: #fff;
  font-family: 'Arial', sans-serif;
  flex-direction: column;
}

.clock {
  font-size: 3rem;
  font-style: monospace;
}

.date {
  font-size: 1rem;
  color: #ccc;
}

.fullscreen-icons {
position: fixed;
top: 20px;
right: 20px;
z-index: 1000;
color: #ffffff;
}

.fullscreen-icons button {
background: none;
border: none;
font-size: 30px;
cursor: pointer;
margin: 5px;
color: #ffffff;
}

button {
padding: 12px 20px;
background-color: #2b2b2b;
color: #fff;
border: none;
border-radius: 5px;
font-size: 1rem;
cursor: pointer;
margin: 10px;
transition: background-color 0.3s;
}

button i {
background-color: #2b2b2b;
position: fixed;

top: 44px;
right: 102px;
z-index: 1000;
color: #ffffff;
}

}

@media (max-width: 502px) {
  
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #2b2b2b;
  color: #fff;
  font-family: 'Arial', sans-serif;
  flex-direction: column;
}

.clock {
  font-size: 3rem;
  font-style: monospace;
}

.date {
  font-size: 1rem;
  color: #ccc;
}

.fullscreen-icons {
position: fixed;
top: 20px;
right: 20px;
z-index: 1000;
color: #ffffff;
}

.fullscreen-icons button {
background: none;
border: none;
font-size: 30px;
cursor: pointer;
margin: 5px;
color: #ffffff;
}

button {
padding: 12px 20px;
background-color: #2b2b2b;
color: #fff;
border: none;
border-radius: 5px;
font-size: 1rem;
cursor: pointer;
margin: 10px;
transition: background-color 0.3s;
}

button i {
background-color: #2b2b2b;
position: fixed;
top: 44px;
right: 102px;
z-index: 1000;
color: #ffffff;
}
    
}
